[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = ??git???
[access "refs/*"]
	owner = group user/xiaojie112
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/xiaojie112
	label-Verified = -1..+1 group user/xiaojie112
	push = group user/xiaojie112
	read = group user/xiaojie112
	rebase = group user/xiaojie112
	removeReviewer = group user/xiaojie112
	submit = group user/xiaojie112
[access "refs/heads/*"]
	create = group user/xiaojie112
	push = +force group user/xiaojie112
	pushMerge = group user/xiaojie112
	read = group user/xiaojie112
[access "refs/tags/*"]
	push = group user/xiaojie112
	push = +force group user/xiaojie112
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
